<!DOCTYPE html>
<html>
    <head>
        {% if page.title %}
        <title>{{ page.title }} - {{ site.title }}</title>
        {% else %}
        <title>{{ site.title }}</title>
        {% endif %}
        
        <meta name="author" content="realised" />
        <meta name="viewport" content="width=device-width, initial-scal=1.0" />

        {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
        {% else %}
        <meta name="description" content="{{ site.title }} {{page.title}}" />
        {% endif %}
        
        {% if page.keywords %}
        <meta name="keywords" content="{{ page.keywords }}" />
        {% endif %}

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link href="/css/bootstrap.css" type="text/css" rel="stylesheet" />
        <link href="/css/syntax.css" type="text/css" rel="stylesheet" />
        <link href="/css/bootstrap-responsive.css" type="text/css" rel="stylesheet" />
        <link href="/css/global.css" type="text/css" rel="stylesheet" />

        <!--[if lt IE 9]
        <script type="text/javascript" src="/js/html5shiv.js"></script>
        <![endif] -->

        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>

    </head>

    <body>
        <div class="container">

            {% include header.html %}
            
            <div class="row-fluid">
                <div class="{% unless page.no_sidebar %}span9{% else %}span12{% endunless %}">
                {{ content }}
                </div>

                {% unless page.no_sidebar %}
                <div class="span3">
                    {% include sidebar.html %}
                </div>
                {% endunless %}
            </div>

            {% include footer.html %}

        </div>

        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/js/bootstrap-transition.js"></script>
        <script src="/js/bootstrap-alert.js"></script>
        <script src="/js/bootstrap-modal.js"></script>
        <script src="/js/bootstrap-dropdown.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
        <script src="/js/bootstrap-tab.js"></script>
        <script src="/js/bootstrap-tooltip.js"></script>
        <script src="/js/bootstrap-popover.js"></script>
        <script src="/js/bootstrap-button.js"></script>
        <script src="/js/bootstrap-collapse.js"></script>
        <script src="/js/bootstrap-carousel.js"></script>
        <script src="/js/bootstrap-typeahead.js"></script>
    
    </body>
</html>
